main {
    grid-area: cuerpo;
    margin: 1rem;
    padding: 1rem;
    font-family: 'Indie Flower', cursive;

    .imagen-fondo {
        width: 100%;
        justify-items: center;
    }

    .accordion-header {
        button {
            color: $colorTerciario;
            background-color: $colorSecundario;
        }
    }

    .accordion-body {
        color: $colorTerciario;
    }

    .list-mak ul {
        justify-content: center;

        li {
            list-style-type: none;
            display: inline-block;
            @include flex (0.1rem, 0.8rem, 1.2rem);
        }
    }

    //acomodamos los main de los distintos html
    .main-tienda {
        display: flex;
        flex-wrap: wrap;

    }

    h2 {
        @include flex (1em, 0.2em, 1.5rem);
        font-family: 'Indie Flower', cursive;
        text-decoration: underline;
    }

    h3 {
        @include flex (1em, 0.2em, 1.5rem);
        font-family: 'Indie Flower', cursive;
        text-decoration: underline;
    }

    p {
        font-size: 1.2rem;
    }

    h4 {
        @include flex (1em, 0.2em, 1.5rem);
        font-family: 'Indie Flower', cursive;
        text-decoration: underline;
    }

    .carouseles {
        display: flex;
        justify-content: center;
        text-align: center;


        .descripcion-imagenes {
            h5 {
                font-family: 'Indie Flower', cursive;
                color: #0f0f0e;
                font-size: 1.5rem;
                background-color: wheat;
            }

            p {
                font-family: 'Indie Flower', cursive, $colorTerciario;
                color: #0f0f0e;
                font-size: 1.2rem;
                background-color: wheat;
            }
        }

        .img-car {
            @include cuadro (0.2rem, $colorCuatro, 5px, solid);
        }
    }

    .imagenes-varias {
        width: 30%;
        @include cuadro (1rem, $colorCuatro, 5px, solid);
    }

    .imagenes-varias1 {
        width: 15%;
        @extend .imagenes-varias;
    }

    .desplegablesMain {
        background-color: $colorPrincipal;
    }

    .card {
        @extend .imagenes-varias;

        .card-body {
            background-color: $colorSecundario;
        }

        .btn-primary {
            background-color: $colorCuatro;
            border: none;
            color: black;

        }
    }

    .list-mak {
        text-align: center;
    }

    .accordion-item {
        text-align: center;
        background-color: $colorSecundario;

    }
}